/*  _foot.sass */
/* INCEPTION RULE: DO NOT nest more than 4  */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */

#foot
  padding-top: 25px
  padding-bottom: 25px

  p
    margin-top: 10px
    max-width: 300px

#foot-wrap
  +flex(flex, space-between, center, wrap)
  flex-direction: column

  +tablet
    flex-direction: row
    width: 900px
    margin-left: auto
    margin-right: auto

  +desktop
    width: 1200px


.mail, .social, .address, .copyright
  flex: 0 0 auto
  margin-top: 40px

.mail
  order: 2
  margin-bottom: 30px

  +tablet
    order: 1
    margin-bottom: 0

.social
  order: 1

  +tablet
    order: 2

.address
  order: 3

  +tablet

.copyright
  order: 4

  +tablet
    flex: 1 0 100%


#face, #insta
  +auto
  display: inline-block
  width: 30px
  height: 30px

  +tablet
    padding-top: 13px
    width: 25px
    height: 25px

#face
  margin-right: 15px

.dash
  position: relative
  width: 2px
  height: 43px

  +tablet
    width: 100px
    height: 2px

  +desktop
    width: 200px

.dash#left
  top: -180px
  left: calc(50% - 1px)

  +tablet
    top: -91px
    left: calc(50% - 170px)

  +desktop
    left: calc(50% - 290px)

.dash#right
  display: none

  +tablet
    display: block
    top: -94px
    left: calc(50% + 70px)

  +desktop
    left: calc(50% + 85px)



/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */

#foot
  background-color: $green
  text-tranform: uppercase

  h1, h2, p
    opacity: 1

  p
    font-family: "Sweet Sans"
    font-style: normal
    font-weight: normal 
    font-size: 50%
    letter-spacing: 0.2em
    color: $white
    text-transform: uppercase

  a
    color: $white
    transition: color 0.15s ease-in

    &:hover
      color: $darkgreen

.num 
  font-size: 124%

.copyright
  font-size: 0.8em

.dash
  background-color: $white

#insta, #face
  .face-cls-1, .insta-cls-1
    transition: fill 0.15s ease-in

  &:hover
    .face-cls-1, .insta-cls-1
      fill: $darkgreen
