/*  _newsletter.sass */
/* INCEPTION RULE: DO NOT nest more than 4  */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */

#newsletter
  form
    +auto
    max-width: 380px

    input
      +auto
      display: block

#name, #email
  max-width: 350px
  width: 100%
  height: 40px
  margin-top: 30px
  padding-top: 5px
  padding-left: 10px

    

#submit
  -webkit-appearance: none
  height: 40px
  width: 200px
  margin-top: 30px


/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */

#name, #email
  border: 2px solid $brown
  font-family: AldusLTStd-Italic
  font-weight: normal
  font-style: normal
  color: $brown
  font-size: 1.3em


  +placeholder
	  font-family: AldusLTStd-Italic
	  font-weight: normal
	  font-style: normal
	  color: $brown
	  text-align: center

#submit
  @extend %sweetsansregular
  border: none
  background-color: $brown
  color: $white
  font-size: 0.8em
  letter-spacing: 0.2em