/*  _newsletter.sass */
/* INCEPTION RULE: DO NOT nest more than 4  */

/* PAGE CONTEXT -> For positioning items */
/* includes positioning styles like display, padding, margin, height */

#newsletter
  padding-top: 40px
  padding-bottom: 40px
  margin-bottom: 150px

  +tablet
    padding-top: 80px
    padding-bottom: 80px

.mailchimp-form
  +auto
  margin-top: 25px
  max-width: 380px
  

  input
    +auto
    display: block

#f-name, #f-email
  max-width: 200px
  width: 100%
  height: 25px
  margin-top: 20px
  padding-top: 5px
  padding-left: 10px

  
#f-submit
  -webkit-appearance: none
  height: 30px
  width: 150px
  margin-top: 15px

.wpcf7-form .wpcf7-mail-sent-ok, .wpcf7-form .wpcf7-validation-errors
  position: relative
  margin: 0 auto
  padding: 10px
  width: 420px
  background: white
  z-index: 90

.email .wpcf7-not-valid-tip
  padding-top: 20px


/* OBJECTS -> For styling objects */
/* Includes cosmetic styles like color, typography, and borders */

#newsletter
  +img($c: contain)
  background-image: url('#{$uri}/assets/nuts.svg')

  .wpcf7
    opacity: 0
    transition: opacity 1.75s ease-in
    transition-delay: 2s;


#f-name, #f-email
  border: 2px solid $brown
  font-family: AldusLTStd-Italic
  font-weight: normal
  font-style: normal
  color: $brown
  font-size: 85%
  letter-spacing: 0.05em
  background: none 
  text-align: center


  +placeholder
    font-family: AldusLTStd-Italic
    font-weight: normal
    font-style: normal
    color: $brown

#f-submit
  @extend %sweetsansregular
  border: 2px solid $brown
  background-color: $brown
  color: $white
  font-size: 60%
  letter-spacing: 0.2em
  transition: color 0.2s ease-in, background-color 0.2s ease-in
  text-transform: uppercase

  &:hover
    background-color: transparent
    color: $brown 

.wpcf7-form .wpcf7-mail-sent-ok, .wpcf7-form .wpcf7-validation-errors
  font-family: AldusLTStd-Italic
  font-weight: normal
  font-style: normal
  color: $brown
  border: none 
  text-align: center

.email .wpcf7-not-valid-tip
  font-family: AldusLTStd-Italic
  font-weight: normal
  font-style: normal
  color: $brown
  text-align: center