/* Resets & Tools */

@import 'reset'

@import 'mixins'

@import 'variables'


/* SITE CONTEXT -> Global styles */

h1
  +label-1

h2
  +headline-1

p
  +para-1


html 
  box-sizing: border-box

*, *:before, *:after
  box-sizing: inherit

body

img
  width: 100%
  box-sizing: border-box

/* Global Styles */

section
  h1, h2, p
    +auto
    text-align: center

  h1
    max-width: 380px
    margin-top: 50px

  h2
    max-width: 560px
    margin-top: 20px

  p
    max-width: 380px
    margin-top: 25px

/* Styles ... */

@import 'newsletter'